.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 100px 0px;
}

.about div {
  flex: 1;
}

.about div img {
  width: 100%;
}

.about div h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.education {
  margin: 100px 0px;
}

.education h1 {
  text-align: center;
  margin: 50px 0px;
  text-decoration: underline;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.card-container .card {
  padding: 10px;
  border-radius: 50%;
  background-color: #222;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
}
